<main>
    <section>
    {{#with navigation}}
        <div class="card my-5">
            <div class="row">
                <div class="col-8">
                    <div class="card-body">
                        <h1>{{Logo}}</h1>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card-body">
                        {{#with links}}                    
                            <div class="row">                        
                                <ul class="nav pe-0 my-2">
                                    <li class="nav-item">
                                        <a class="nav-link p-1 pe-0" aria-current="page" href="{{[0].href}}">{{[0].text}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-1 pe-0" href="{{[0].href}}">{{[1].text}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-1 pe-0" href="{{[0].href}}">{{[2].text}}</a>
                                    </li>         
                                    <li class="nav-item">
                                        <a class="nav-link disabled p-1 pe-0">Disabled</a>
                                    </li>
                                </ul>                        
                            </div>                    
                        {{/with}}
                    </div>
                </div>
            </div>
        </div>
    {{/with}}
    </section>
    <section>
    {{#with newsBlock}}
        <h2 class="text-center">{{title}}</h2>
        <div class="row">
            {{#with cards}}
            <div class="col-3 my-2 px-0">            
                <div class="card text-bg-dark mx-1">
                    <div class="card-header">{{[0].title}}
                        {{#if [0].isTop}}
                            <badge class="rounded-pill text-bg-success">New</badge>
                        {{/if}}
                        {{#if [0].isNew}}
                            <badge class="rounded-pill text-bg-danger">Top</badge>
                        {{/if}}
                    </div>
                    <div class="card-body">                        
                        <p class="card-text">{{[0].description}}</p>
                    </div>                    
                </div>                
            </div>

            <div class="col-3 my-2 pe-0">
                <div class="card text-bg-dark">
                    <div class="card-header">{{[1].title}}
                        {{#if [1].isTop}}
                            <badge class="rounded-pill text-bg-success">New</badge>
                        {{/if}}
                        {{#if [1].isNew}}
                            <badge class="rounded-pill text-bg-danger">Top</badge>
                        {{/if}}
                    </div>
                    <div class="card-body">                        
                        <p class="card-text">{{[1].description}}</p>
                    </div>                    
                </div>          
            </div>
            <div class="col-3 my-2 pe-0">
                <div class="card text-bg-dark">
                    <div class="card-header">{{[2].title}}
                        {{#if [2].isTop}}
                            <badge class="rounded-pill text-bg-success">New</badge>
                        {{/if}}
                        {{#if [2].isNew}}
                            <badge class="rounded-pill text-bg-danger">Top</badge>
                        {{/if}}
                    </div>
                    <div class="card-body">                        
                        <p class="card-text">{{[2].description}}</p>
                    </div>                    
                </div>      
            </div>
            <div class="col-3 my-2 pe-0">
                <div class="card text-bg-dark">
                    <div class="card-header">{{[3].title}}
                        {{#if [3].isTop}}
                            <badge class="rounded-pill text-bg-success">New</badge>
                        {{/if}}
                        {{#if [3].isNew}}
                            <badge class="rounded-pill text-bg-danger">Top</badge>
                        {{/if}}
                    </div>
                    <div class="card-body">                        
                        <p class="card-text">{{[3].description}}</p>
                    </div>                    
                </div>      
            </div>
            <div class="col-3 my-2 pe-0">
                <div class="card text-bg-dark">
                    <div class="card-header">{{[4].title}}
                        {{#if [4].isTop}}
                            <badge class="rounded-pill text-bg-success">New</badge>
                        {{/if}}
                        {{#if [4].isNew}}
                            <badge class="rounded-pill text-bg-danger">Top</badge>
                        {{/if}}
                    </div>
                    <div class="card-body">                        
                        <p class="card-text">{{[4].description}}</p>
                    </div>                    
                </div>      
            </div>
            <div class="col-3 my-2 pe-0">
                <div class="card text-bg-dark">
                    <div class="card-header">{{[5].title}}
                        {{#if [5].isTop}}
                            <badge class="rounded-pill text-bg-success">New</badge>
                        {{/if}}
                        {{#if [5].isNew}}
                            <badge class="rounded-pill text-bg-danger">Top</badge>
                        {{/if}}
                    </div>
                    <div class="card-body">                        
                        <p class="card-text">{{[5].description}}</p>
                    </div>                    
                </div>      
            </div>
            <div class="col-3 my-2 pe-0">
                <div class="card text-bg-dark">
                    <div class="card-header">{{[6].title}}
                        {{#if [6].isTop}}
                            <badge class="rounded-pill text-bg-success">New</badge>
                        {{/if}}
                        {{#if [6].isNew}}
                            <badge class="rounded-pill text-bg-danger">Top</badge>
                        {{/if}}
                    </div>
                    <div class="card-body">                        
                        <p class="card-text">{{[6].description}}</p>
                    </div>                    
                </div>      
            </div>
            <div class="col-3 my-2 pe-0">
                <div class="card text-bg-dark">
                    <div class="card-header">{{[7].title}}
                        {{#if [7].isTop}}
                            <badge class="rounded-pill text-bg-success">New</badge>
                        {{/if}}
                        {{#if [7].isNew}}
                            <badge class="rounded-pill text-bg-danger">Top</badge>
                        {{/if}}
                    </div>
                    <div class="card-body">                        
                        <p class="card-text">{{[7].description}}</p>
                    </div>                    
                </div>      
            </div>
            {{/with}}
        </div>
    {{/with}}
    </section>
    <hr class="my-5">
    <section>
        {{#with goodsBlock}}
            {{#with tabs}}
            <ul class="nav nav-tabs mb-5">
                <li class="nav-item">
                    <a class="nav-link
                    {{#if [0].isActive}}active{{/if}}
                    {{#if [0].isDisabled}}disabled{{/if}}">
                    {{[0].text}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link
                    {{#if [1].isActive}}active{{/if}}
                    {{#if [1].isDisabled}}disabled{{/if}}">
                    {{[1].text}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link
                    {{#if [2].isActive}}active{{/if}}
                    {{#if [2].isDisabled}}disabled{{/if}}">
                    {{[2].text}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link
                    {{#if [3].isActive}}active{{/if}}
                    {{#if [3].isDisabled}}disabled{{/if}}">
                    {{[3].text}}
                    </a>
                </li>
            </ul>
            {{/with}}
            {{#with cards}}
                <div class="row">
                    <div class="col-4 px-0">
                        <div class="card my-3">
                        <img src="{{[0].image}}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{[0].title}}
                                    {{#if [0].isHot}}
                                    <badge class="rounded-pill text-bg-warning text-uppercase">Hot!</badge>
                                    {{/if}}
                                    {{#if [0].isNew}}
                                    <badge class="rounded-pill text-bg-primary">New</badge>
                                    {{/if}}
                                </h5>
                                <p class="card-text">{{[0].description}}</p>                        
                            </div>
                        </div>
                    </div>
                    <div class="col-4 pe-0">
                        <div class="card my-3">
                        <img src="{{[1].image}}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{[1].title}}
                                    {{#if [1].isHot}}
                                    <badge class="rounded-pill text-bg-warning text-uppercase">Hot!</badge>
                                    {{/if}}
                                    {{#if [1].isNew}}
                                    <badge class="rounded-pill text-bg-primary">New</badge>
                                    {{/if}}
                                </h5>
                                <p class="card-text">{{[1].description}}</p>                        
                            </div>
                        </div>
                    </div>
                    <div class="col-4 pe-0">
                        <div class="card my-3">
                        <img src="{{[2].image}}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{[2].title}}
                                    {{#if [2].isHot}}
                                    <badge class="rounded-pill text-bg-warning text-uppercase">Hot!</badge>
                                    {{/if}}
                                    {{#if [2].isNew}}
                                    <badge class="rounded-pill text-bg-primary">New</badge>
                                    {{/if}}
                                </h5>
                                <p class="card-text">{{[2].description}}</p>                        
                            </div>
                        </div>
                    </div>
                    <div class="col-4 pe-0">
                        <div class="card my-3">
                        <img src="{{[3].image}}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{[3].title}}
                                    {{#if [3].isHot}}
                                    <badge class="rounded-pill text-bg-warning text-uppercase">Hot!</badge>
                                    {{/if}}
                                    {{#if [3].isNew}}
                                    <badge class="rounded-pill text-bg-primary">New</badge>
                                    {{/if}}
                                </h5>
                                <p class="card-text">{{[3].description}}</p>                        
                            </div>
                        </div>
                    </div>
                    <div class="col-4 pe-0">
                        <div class="card my-3">
                        <img src="{{[4].image}}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{[4].title}}
                                    {{#if [4].isHot}}
                                    <badge class="rounded-pill text-bg-warning text-uppercase">Hot!</badge>
                                    {{/if}}
                                    {{#if [4].isNew}}
                                    <badge class="rounded-pill text-bg-primary">New</badge>
                                    {{/if}}
                                </h5>
                                <p class="card-text">{{[4].description}}</p>                        
                            </div>
                        </div>
                    </div>
                    <div class="col-4 pe-0">
                        <div class="card my-3">
                        <img src="{{[5].image}}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{[5].title}}
                                    {{#if [5].isHot}}
                                    <badge class="rounded-pill text-bg-warning text-uppercase">Hot!</badge>
                                    {{/if}}
                                    {{#if [5].isNew}}
                                    <badge class="rounded-pill text-bg-primary">New</badge>
                                    {{/if}}
                                </h5>
                                <p class="card-text">{{[5].description}}</p>                        
                            </div>
                        </div>
                    </div>
                </div>
            {{/with}}
        {{/with}}
    </section>
    <hr class="my-5">
    <section>
        {{#with subscribe}}
        <div class="alert text-bg-dark" role="alert">
            <div class="row">
                <div class="col-7">     
                    <h2>{{header}}</h2>
                    <p>{{description}}</p>
                </div>
                {{#with buttons}}
                <div class="col-5 py-4 pe-0">
                    <div class="row pe-0">
                        <div class="col-5 pe-0">
                        <button class="btn btn-primary p-1" href="{{[0].link}}">{{[0].text}}</button>
                        </div>
                        <div class="col-6 pe-1">
                        <button class="btn btn-primary p-1" href="{{[1].link}}">{{[1].text}}</button>
                        </div>
                    </div>
                </div>
                {{/with}}
            </div>
        </div>
        {{/with}}
    </section>
    <hr class="my-5">
    <section>
        {{#with service}}
        <div class="alert text-bg-success" role="alert"> 
            <h2 class="text-center">{{title}}</h2>
            <p class="text-center">{{description}}</p>
            {{#with buttons}}
            <div class="text-center">
                <button class="btn btn-primary" href="{{[0].link}}">{{[0].text}}</button>
            </div>
            {{/with}}            
        </div>
        {{/with}}
    </section>
    <hr class="mt-5">
    <section>
        {{#with footer}}
            <div class="row">
                <div class="col-2 p-0">
                    {{#with [0]}}
                    <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{[0].link}}">{{[0].text}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{[1].link}}">{{[1].text}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{[2].link}}">{{[2].text}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{{[3].link}}">{{[3].text}}</a>
                    </li>
                    {{/with}}
                </ul>
                </div>
                <div class="col-2 p-0">
                    {{#with [1]}}
                    <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{[0].link}}">{{[0].text}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{[1].link}}">{{[1].text}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{[2].link}}">{{[2].text}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{{[3].link}}">{{[3].text}}</a>
                    </li>
                    {{/with}}
                </ul>
                </div>
                <div class="col-2 p-0">
                    {{#with [2]}}
                    <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{[0].link}}">{{[0].text}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{[1].link}}">{{[1].text}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{[2].link}}">{{[2].text}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{{[3].link}}">{{[3].text}}</a>
                    </li>
                    {{/with}}
                </ul>
                </div>
                <div class="col-2 p-0">
                    {{#with [3]}}
                    <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{[0].link}}">{{[0].text}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{[1].link}}">{{[1].text}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{[2].link}}">{{[2].text}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{{[3].link}}">{{[3].text}}</a>
                    </li>
                    {{/with}}
                </ul>
                </div>
                <div class="col-2 p-0">
                    {{#with [4]}}
                    <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{[0].link}}">{{[0].text}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{[1].link}}">{{[1].text}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{[2].link}}">{{[2].text}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{{[3].link}}">{{[3].text}}</a>
                    </li>
                    {{/with}}
                </ul>
                </div>
            </div>
        {{/with}}
    </section>
</main>